<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
    <!-- <link rel="stylesheet" href="/styles/admin/loginAD.css"> -->
     <link rel="stylesheet" href="/css/admin/login.css">
</head>
<body>
    <div class="glass-container">
        <h1 class="login-title">Admin-Login</h1>
        <input type="text" id="message" value="<%= message %>" name="message" hidden>
        

        <form id="loginForm" action="/admin/login" method="post" novalidate>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Admin email id " name="email" required>
                <div class="error-message" id="emailError" style="display: none; color: red;"></div>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password" required>
                <div class="error-message" id="passwordError" style="display: none; color: red;"></div>
            </div>
            <button type="submit" class="btn btn-login">Admin-Log In</button>
        </form>
    </div>
    <script src="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="/js/admin/login.js"></script>
</body>
</html>
