<!-- Link to Sidebar CSS -->
<!-- <link rel="stylesheet" href="/css/admin/layout/sidenav.css"> -->
<link rel="stylesheet" href="/css/admin/layout/sidenav.css">

<!-- Sidebar Component -->
<aside class="sidebar" id="sidebar">
    <!-- Sidebar Logo -->
    <div class="sidebar-logo">
        <img src="/images/produts-tactics/LOGO/blue-logo.png" alt="Logo">
    </div>

    
    
    <!-- Sidebar Menu -->
    <nav class="sidebar-menu">
        <a href="/admin/dashboard" title="Dashboard">
            <i><img src="/images/produts-tactics/admin-logo-2/1.png" alt="Dashboard Icon"></i>
        </a>
        <a href="/admin/userManagement" title="userManagement">
            <i><img src="/images/produts-tactics/admin-logo-2/2.png" alt="User Management Icon"></i>
        </a>
        <a href="/admin/productManagement" title="productManagement">
            <i><img src="/images/produts-tactics/admin-logo-2/3.png" alt="Product Management Icon"></i>
        </a>
        <a href="/admin/OrderManagement" title="OrderManagement">
            <i><img src="/images/produts-tactics/admin-logo-2/4.png" alt="Order Management Icon"></i>
        </a>
        <a href="/admin/category" title="category">
            <i><img src="/images/produts-tactics/admin-logo-2/5.png" alt="Category Management Icon"></i>
        </a>
        <a href="/admin/CouponManagement" title="CouponManagement">
            <i><img src="/images/produts-tactics/admin-logo-2/6.png" alt="Coupon Management Icon"></i>
        </a>
        <a href="/admin/logout" title="logout">
            <i><img src="/images/produts-tactics/admin-logo-2/7.png" alt="Log Out Icon"></i>
        </a>
    </nav>
</aside>

<!-- Link to Sidebar JS -->
<script src="/js/admin/layout/sidenav.js"></script>
<!-- <script src="/js/admin/layout/sidenav copy.js"></script> -->
